<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="SteamCMDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Button3" serializeAs="String">
                <value>Update</value>
            </setting>
            <setting name="Textbox2" serializeAs="String">
                <value />
            </setting>
            <setting name="Combobox1" serializeAs="String">
                <value />
            </setting>
            <setting name="Combobox2" serializeAs="String">
                <value />
            </setting>
            <setting name="Combobox3" serializeAs="String">
                <value />
            </setting>
            <setting name="NumericUpAndDown1" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Textbox3" serializeAs="String">
                <value />
            </setting>
            <setting name="Textbox4" serializeAs="String">
                <value />
            </setting>
            <setting name="Textbox5" serializeAs="String">
                <value />
            </setting>
            <setting name="Textbox6" serializeAs="String">
                <value />
            </setting>
            <setting name="Checkbox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Checkbox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimePicker1" serializeAs="String">
                <value />
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>