<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARKSO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ARKSO.My.MySettings>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SteamCMDPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Map" serializeAs="String">
                <value />
            </setting>
            <setting name="Players" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="VAC" serializeAs="String">
                <value />
            </setting>
            <setting name="BattlEye" serializeAs="String">
                <value />
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Arguments" serializeAs="String">
                <value />
            </setting>
            <setting name="Options" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoUpBack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideServWin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Time2UpNBack" serializeAs="String">
                <value />
            </setting>
            <setting name="MEdit" serializeAs="String">
                <value />
            </setting>
        </ARKSO.My.MySettings>
    </userSettings>
</configuration>